<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <timestamp key="day" datePattern="yyyy-MM-dd"/>
  <timestamp key="time" datePattern="HH:mm:ss"/>

  <appender name="console-debug" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{HH:mm} [%thread] %-5level %logger{36}:%line - %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="console-info" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <Pattern>%d{HH:mm} [%thread] %-5level %logger{36}:%line - %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="file-debug" class="ch.qos.logback.core.FileAppender">
    <file>logs/${day}/${time}/application-debug.log</file>
    <append>true</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <Pattern>%d{HH:mm} [%thread] %-5level %logger{36}:%line - %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="file-info" class="ch.qos.logback.core.FileAppender">
    <file>logs/${day}/${time}/application-info.log</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <append>true</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <Pattern>%d{HH:mm} [%thread] %-5level %logger{36}:%line - %msg%n</Pattern>
    </encoder>
  </appender>

  <root>
    <level value="DEBUG"/>
    <appender-ref ref="file-info"/>
    <appender-ref ref="file-debug"/>
    <appender-ref ref="console-debug"/>
  </root>

</configuration>